:root {
  --lb_grey-lightest: #DBDBDB;
  --lb_grey-light: #9E9E9E;
  --lb_grey-default: #4D4D4D;
  --lb_grey-warm: #57534E;
  --lb_grey-dark: #767676;
  --lb_yellow-midlight: #F6D05B;
  --lb_yellow-light: #F8D877;
  --lb_yellow-middark: #F5C83E;
  --lb_yellow-dark: #cea734;
  --lb_yellow-default: #F2B705;
  --lb_white-background: #FBF8F8;
  --lb_black-background: #000000;
  --lb_black-default: #212121;
  --lb_default-white: #FFFFFF;
}