.contact-form{
  display: flex;
  margin-bottom: 2rem;
  padding: 4rem 0;
}

.contact-form__heading{
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: var(--lb_grey-default);
}

.contact-form__description{
  text-align: justify;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: var(--lb_grey-default);
  font-weight: 400;
  line-height: 1.6rem;
}

.contact-form__sides{
  width: 1.5rem;
  background-color: var(--lb_grey-default);
}

.contact-form__container{
  flex-grow: 1;
  padding: 0 10vw;
}

.contact-form__container > .main-message__ellipse{
  position: relative;
  top: -1rem;
  left: 3rem;
}

.contact-form__side-1{
  clip-path: polygon(0 0, 100% 0.6%, 100% 100%, 0% 100%);
}

.contact-form__side-2{
  clip-path: polygon(0 0.6%, 100% 0, 100% 100%, 0% 100%);
}

.contact-form__input > input,
.contact-form__input > textarea,
.contact-form__content-select > select{
  padding: 1rem !important;
  font-size: 1rem !important;
  border: none !important;
  border-radius: 3.125rem !important;
  background-color: var(--lb_grey-lightest) !important;
  outline: none !important;
  color: var(--lb_black-default) !important;
  max-width: 100% !important;
}

.contact-form__content-select > select{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.contact-form__input > textarea{
  height: 10rem !important;
  border-radius: 1.56rem !important;
}

.contact-form__button{
  margin-top: 2rem !important;
  padding: 0.5rem 3rem !important;
  font-size: 1.2rem !important;
  font-weight: 500 !important;
  border: none !important;
  border-radius: 3rem !important;
  background-color: var(--lb_yellow-middark) !important;
  color: var(--lb_grey-warm) !important;
}

.wpforms-confirmation-container-full {
  background-color: var(--lb_yellow-light) !important;
  border-color: var(--lb_yellow-middark) !important;
}

/* Media queries for desktop */
@media(min-width: 768px){
  .contact-form{
    margin-top: 6rem;
    padding: 0 5%;
  }

  .contact-form__sides{
    width: 1rem;
  } 

  .contact-form__container {
    padding: 0 15%;
  }

  .contact-form__heading {
    font-size: 3rem;
  }

  .contact-form__description {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8rem;
  }
}

@media(min-width: 1280px){
  .contact-form__container {
    padding: 0 30%;
  }
}