.container-nosotros{
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-nosotros .content{
  padding: 0 3.5rem;
  font-size: 1rem;
  text-align: justify;
}