.servicios {
  background-color: var(--lb_white-background);
  padding: 16rem 0 1rem 0;
}

.servicios-sub-header{
  display: none;
}

.servicios-header{
  font-size: 2.6rem;
  text-align: center;
  font-weight: 400;
  color: var(--lb_grey-default);
  padding-bottom: 1rem;
}

.servicios--slider{
  padding: 1rem 0;
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.servicios--slides {
  height: 195vh;
}

.servicios--slide {
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease-in-out;
  /* border: 1px solid greenyellow; */
}

.servicios--slide.juridica{
  transform: translate(-100%, 0%);
}

.servicios--slide.proyectos{
  transform: translate(0%, -100%);
}

.servicios--slide.inmobiliaria{
  transform: translate(100%, -200%);
}

.servicios-pagi{
  display: flex;
  margin: 1rem 2rem;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.servicios-pagi__elem{
  margin: 0 0.5rem;
}

.servicios--icon{
  fill: var(--lb_grey-default);
  transition: all 0.3s ease-in-out;
}
.servicios--icon:hover,
.servicios--icon.active{
  transform: scale(1.1);
  filter: drop-shadow(3px 3px 2px rgba(242, 183, 5, 0.6));
}

.servicios__title{
  text-align: center;
  padding: 0.6rem 0;
  font-size: 1.8rem;
  color: var(--lb_grey-warm);
}

/* Styles Inner Menu for Services */
.servicios__content--menu{
  overflow-x: auto;
  white-space: nowrap;
  background-color: var(--lb_grey-lightest);
}

.servicios__content--menu ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
  font-size: 1rem;
  height: 3.375rem;
  width: 150%;
}

.servicios__content--menu li {
  padding: 0.6rem;
}

.servicios__content--menu a {
  display: block;
  position: relative;
  padding: 0.2em 0;
  color: var(--lb_grey-dark);
}

.servicios__content--menu a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--lb_black-default);
  opacity: 0;
  transition: opacity 400ms, transform 400ms;
}

.servicios__content--menu a:hover::after,
.servicios__content--menu a:focus::after {
  opacity: 1;
}

.servicios__content--menu li a::after {
  transform: scale(0);
  transform-origin: center;
}

.servicios__content--menu li a:hover::after,
.servicios__content--menu li a:focus::after{
  transform: scale(1);
}

.servicios__content--menu li:first-child a.active{
  font-weight: 500;
  color: var(--lb_black-default);
}

.servicios__content--menu li:first-child a.active::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--lb_black-default);
  transform: scale(1);
  opacity: 1;
} 

.servicios__content--menu a:hover {
  font-weight: 500;
  color: var(--lb_black-default);
}
/* End Styles Inner Menu for Services */


/* Styles inner content for Services (servicios__text) */
.servicios__text{
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s ease-in-out;
  width: 100%;
}

.servicios__text.active{
  opacity: 1;
  visibility: visible;
}

.servicios__text--heading-mobile,
.servicios__text--heading-desktop{
  text-align: center;
  font-size: 2.2rem;
  padding: 1rem 0;
  color: var(--lb_grey-light);
}

.servicios__text--heading-desktop{
  display: none;
}

.servicios__text--proteccion .text--body-1,
.servicios__text--tramites .text--body-1,
.servicios__text--licitaciones .text--body-1{
  position: relative;
  width: 100%;
  height: 15.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background: linear-gradient(to right, rgba(255,255,255,1) 25%,rgba(255,255,255,0) 150%);
}

.servicios__text--obra-civil .text--body-1,
.servicios__text--acabados .text--body-1,
.servicios__text--diseno .text--body-1,
.servicios__text--remodelaciones .text--body-1{
  position: relative;
  width: 100%;
  height: 15.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.servicios__text--venta .text--body-1,
.servicios__text--arriendo .text--body-1{
  position: relative;
  width: 100%;
  height: 25rem;
  overflow: hidden;
  background: linear-gradient(to left, rgba(255,255,255,1) 25%,rgba(255,255,255,0) 150%);
}

.servicios__text--proteccion .image--body-1,
.servicios__text--tramites .image--body-1,
.servicios__text--licitaciones .image--body-1{
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  border-top-left-radius: 90%;
}

.servicios__text--proteccion .details--body-1,
.servicios__text--tramites .details--body-1,
.servicios__text--licitaciones .details--body-1{
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.servicios__text--obra-civil .details--body-1,
.servicios__text--acabados .details--body-1,
.servicios__text--diseno .details--body-1,
.servicios__text--remodelaciones .details--body-1{
  display: flex;
  flex-direction: column;
  padding-left: 7rem;
  padding-right: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.servicios__text--venta .details--body-1,
.servicios__text--arriendo .details--body-1{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: flex-end;
}

.servicios__text--obra-civil .image--body-1,
.servicios__text--acabados .image--body-1,
.servicios__text--diseno .image--body-1,
.servicios__text--remodelaciones .image--body-1{
  position: absolute;
  top: 0;
  left: -25%;
  width: 50%;
  height: 20rem;
  object-fit: cover;
  z-index: -1;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  filter: grayscale(60%);
}

.servicios__text--venta .image--body-1,
.servicios__text--arriendo .image--body-1{
  position: absolute;
  top: 8rem;
  left: 0;
  width: 75%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  border-top-right-radius: 90%;
}

.servicios__text--proteccion .text--body-1 p,
.servicios__text--tramites .text--body-1 p,
.servicios__text--licitaciones .text--body-1 p{
  text-align: left;
  color: var(--lb_grey-default);
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 2rem;
}

.servicios__text--obra-civil .text--body-1 p,
.servicios__text--acabados .text--body-1 p,
.servicios__text--diseno .text--body-1 p,
.servicios__text--remodelaciones .text--body-1 p{
  text-align: left;
  color: var(--lb_grey-default);
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 2rem;
}

.servicios__text--obra-civil .text--body-1 p:nth-child(3),
.servicios__text--acabados .text--body-1 p:nth-child(3),
.servicios__text--diseno .text--body-1 p:nth-child(3),
.servicios__text--remodelaciones .text--body-1 p:nth-child(3){
  display: none;
}

.servicios__text--venta .text--body-1 p,
.servicios__text--arriendo .text--body-1 p{
  width: 100%;
  text-align: left;
  color: var(--lb_grey-default);
  font-size: 1rem;
  font-weight: 400;
  padding: 0 1.5rem;
}


.servicios__text--proteccion .text--body-1 a,
.servicios__text--tramites .text--body-1 a,
.servicios__text--licitaciones .text--body-1 a{
  margin-top: 1rem;
}

.servicios__text--obra-civil .text--body-1 a,
.servicios__text--acabados .text--body-1 a,
.servicios__text--diseno .text--body-1 a,
.servicios__text--remodelaciones .text--body-1 a{
  margin-top: 1rem;
}

.servicios__text--venta .text--body-1 a,
.servicios__text--arriendo .text--body-1 a{
  margin-top: 6rem;
}

.servicios__text--proteccion .text--body-2 h3,
.servicios__text--tramites .text--body-2 h3,
.servicios__text--licitaciones .text--body-2 h3,
.servicios__text--obra-civil .text--body-2 h3,
.servicios__text--acabados .text--body-2 h3,
.servicios__text--diseno .text--body-2 h3,
.servicios__text--remodelaciones .text--body-2 h3{
  font-weight: 400;
  font-size: 2rem;
  color: var(--lb_grey-default);
  text-align: center;
  margin: 1.5rem 0;
  font-style: italic;
  padding: 0 2.5rem;
}


.servicios__text--proteccion .text--body-2 p,
.servicios__text--tramites .text--body-2 p,
.servicios__text--licitaciones .text--body-2 p,
.servicios__text--obra-civil .text--body-2 p,
.servicios__text--acabados .text--body-2 p,
.servicios__text--diseno .text--body-2 p,
.servicios__text--remodelaciones .text--body-2 p{
  text-align: center;
  color: var(--lb_grey-default);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 3rem;
  padding: 0 1.5rem;
}

.servicios__text--proteccion .text--body-2 .button-container,
.servicios__text--tramites .text--body-2 .button-container,
.servicios__text--licitaciones .text--body-2 .button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.servicios__text--venta .text--body-2 .button-container,
.servicios__text--arriendo .text--body-2 .button-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.5rem;
}

.servicios__text--proteccion .text--body-2 .slide__text-link,
.servicios__text--tramites .text--body-2 .slide__text-link,
.servicios__text--licitaciones .text--body-2 .slide__text-link{
  width: auto;
  padding: 0.6rem 2rem;
  margin: 0 auto;
  color: var(--lb_grey-default);
  background-color: white;
  border-color: var(--lb_grey-dark);
}

.servicios__text--venta .text--body-2 .slide__text-link,
.servicios__text--arriendo .text--body-2 .slide__text-link{
  width: auto;
  padding: 0.4em 1rem;
  color: var(--lb_grey-default);
  background-color: white;
  border-color: var(--lb_grey-dark);
  font-size: 0.9rem;
}

.servicios__text--proteccion .text--body-2 .image-container,
.servicios__text--tramites .text--body-2 .image-container,
.servicios__text--licitaciones .text--body-2 .image-container{
  width: 100%;
  overflow: hidden;
  height: 295px;
  margin-top: 4rem;
}

.servicios__text--proteccion .image--body-2,
.servicios__text--tramites .image--body-2,
.servicios__text--licitaciones .image--body-2{
  margin-left: 4rem;
  max-height: 100%;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
  filter: grayscale(80%);
}

.servicios__text--obra-civil .proyectos__list--container,
.servicios__text--acabados .proyectos__list--container,
.servicios__text--diseno .proyectos__list--container,
.servicios__text--remodelaciones .proyectos__list--container{
  background-color: var(--lb_grey-lightest);
  padding: 2.5rem 1rem;
}

.servicios__text--venta .proyectos__list--container,
.servicios__text--arriendo .proyectos__list--container{
  background-color: var(--lb_grey-lightest);
  padding: 2.5rem 0.5rem;
}

.servicios__text--obra-civil .proyectos__list--container h2,
.servicios__text--acabados .proyectos__list--container h2,
.servicios__text--diseno .proyectos__list--container h2,
.servicios__text--remodelaciones .proyectos__list--container h2{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--lb_black-default);
  margin-bottom: 1.5rem;
}

.servicios__text--venta .proyectos__list--container h2,
.servicios__text--arriendo .proyectos__list--container h2{
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  color: var(--lb_grey-default);
  margin-bottom: 1.5rem;
  font-style: italic;
  padding: 0 1rem;
}

.servicios__text--venta .proyectos__list--container p,
.servicios__text--arriendo .proyectos__list--container p{
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  padding: 0 2rem;
  color: var(--lb_grey-default);
}

.servicios__text--venta .line-break{
  margin: 1rem 3rem;
}

.servicios__text--obra-civil .proyectos--realizados, 
.servicios__text--acabados .proyectos--realizados,
.servicios__text--diseno .proyectos--realizados,
.servicios__text--remodelaciones .proyectos--realizados{
  padding: 1rem 0;
}

.servicios__text--obra-civil .proyectos--realizados h3,
.servicios__text--acabados .proyectos--realizados h3,
.servicios__text--diseno .proyectos--realizados h3,
.servicios__text--remodelaciones .proyectos--realizados h3{
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: var(--lb_grey-default);
  font-weight: 600;
}

.servicios__text--obra-civil .proyectos--realizados__slider,
.servicios__text--acabados .proyectos--realizados__slider,
.servicios__text--diseno .proyectos--realizados__slider,
.servicios__text--remodelaciones .proyectos--realizados__slider{
  display:flex;
  justify-content: flex-start;
  overflow: auto;
  gap: 0.7rem;  
}

.servicios__text--obra-civil .proyectos--realizados__card,
.servicios__text--acabados .proyectos--realizados__card,
.servicios__text--diseno .proyectos--realizados__card,
.servicios__text--remodelaciones .proyectos--realizados__card{
  width: 276px;
  height: 395px;
  background-color: var(--lb_white-background);
  padding: 0;
}

.servicios__text--obra-civil .proyectos--realizados__card img,
.servicios__text--acabados .proyectos--realizados__card img,
.servicios__text--diseno .proyectos--realizados__card img,
.servicios__text--remodelaciones .proyectos--realizados__card img{
  width: 276px;
  height: 308px;
  object-fit: cover;
  /* filter: grayscale(80%); */
}

.servicios__text--obra-civil .proyectos--realizados__card h4,
.servicios__text--acabados .proyectos--realizados__card h4,
.servicios__text--diseno .proyectos--realizados__card h4,
.servicios__text--remodelaciones .proyectos--realizados__card h4{
  font-size: 1.5rem;
  text-align: justify;
  font-weight: 600;
  color: var(--lb_grey-default);
  margin: 0.2rem 1rem;
}

.servicios__text--obra-civil .proyectos--realizados__card p,
.servicios__text--acabados .proyectos--realizados__card p,
.servicios__text--diseno .proyectos--realizados__card p,
.servicios__text--remodelaciones .proyectos--realizados__card p{
  margin: 0.4rem 1rem;
  font-size: 1rem;
  text-align: justify;
  font-weight: 400;
  color: var(--lb_grey-default);
  padding: 0;
}

.servicios__text--venta .propiedades,
.servicios__text--arriendo .propiedades{
  padding: 1rem 0;
}

.servicios__text--venta .propiedades > .button-container,
.servicios__text--arriendo .propiedades > .button-container{
  justify-content: center;
  margin-top: -55rem;
}

.propiedades > .button-container .slide__text-link,
.propiedades > .button-container .slide__text-link{
  padding: 0.6rem 4rem;
  font-size: 1rem;
}

.propiedades__slider .propiedades__card:nth-child(n+4){
  display: none;
}

.servicios__text--venta .propiedades__card,
.servicios__text--arriendo .propiedades__card{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--lb_white-background);
}

.servicios__text--venta .propiedades__card img,
.servicios__text--arriendo .propiedades__card img{
  width: 135px;
  height: 148px;
  object-fit: cover;
}

.servicios__text--venta .propiedades__card--details,
.servicios__text--arriendo .propiedades__card--details{
  width: 100%;
  padding: 0 0.7rem;
}

.servicios__text--venta .propiedades__card--details h4,
.servicios__text--arriendo .propiedades__card--details h4{
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: var(--lb_grey-default);
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.servicios__text--venta .propiedades__card--details p,
.servicios__text--arriendo .propiedades__card--details p{
  font-size: 1rem;
  line-height: 1.3rem;
  color: var(--lb_grey-default);
  font-weight: 400;
  text-align: justify;
  padding: 0;
}  

.propiedades__slider {
  display: grid;
  gap: 1rem;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
}
/* End Styles inner content for Services (servicios__text) */

/* Media queries for desktop */
@media(min-width: 768px){
  .servicios{
    padding-top: 7rem;
    padding-bottom: 6rem;
  }

  .servicios-sub-header{
    display: block;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--lb_grey_light);
    padding-left: 9rem;
  }

  .servicios-header{
    font-size: 4rem;
    text-align: left;
    padding-left: 9rem;
  }

  .servicios-pagi{
    margin-left: 0;
    padding-left: 9rem;
    width: 30rem;
  }

  .servicios__title{
    font-size: 4rem;
    text-align: left;
    padding-left: 9rem;
    font-weight: 700;
  }

  .servicios__content--menu ul{
    width: 100%;
    justify-content: center;
  }

  .servicios__content--menu li{
    padding: 0.6rem 1.5rem;
  }

  .servicios--slides {
    height: 125vh;
  }  

  .servicios__text--heading-mobile{
    display: none;
  }

  .servicios__text--heading-desktop{
    display: block;
    padding: 0;
    text-align: left;
    font-size: 2.5rem;
  }

  .servicios__text--venta .propiedades > .button-container,
  .servicios__text--arriendo .propiedades > .button-container{
    justify-content: center;
    margin-top: 1.5rem;
  }


  .servicios__text--proteccion .text--body-1,
  .servicios__text--tramites .text--body-1,
  .servicios__text--licitaciones .text--body-1,
  .servicios__text--obra-civil .text--body-1,
  .servicios__text--acabados .text--body-1,
  .servicios__text--diseno .text--body-1,
  .servicios__text--remodelaciones .text--body-1
  {
    height: 32rem;
    display: block;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 150%);
  }

  .servicios__text--obra-civil .text--body-1 p,
  .servicios__text--acabados .text--body-1 p,
  .servicios__text--diseno .text--body-1 p,
  .servicios__text--remodelaciones .text--body-1 p{
    width: 75%;
  }

  .servicios__text--venta .text--body-1,
  .servicios__text--arriendo .text--body-1
  {
    height: 32rem;
    display: block;
  }

  .servicios__text--proteccion .text--body-2,
  .servicios__text--tramites .text--body-2,
  .servicios__text--licitaciones .text--body-2{
    padding-top: 3rem;
  }

  .servicios__text--proteccion .image--body-1,
  .servicios__text--tramites .image--body-1,
  .servicios__text--licitaciones .image--body-1{
    width: 40%;
    height: 100%;
  }

  .servicios__text--obra-civil .image--body-1,
  .servicios__text--acabados .image--body-1,
  .servicios__text--diseno .image--body-1,
  .servicios__text--remodelaciones .image--body-1{
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    width: 40%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-bottom-left-radius: 90%;
    border-top-right-radius: initial;
    border-bottom-right-radius: initial;
  }

  .servicios__text--venta .image--body-1,
  .servicios__text--arriendo .image--body-1{
    width: 40%;
    height: 100%;
    top: 0;
  }


  .servicios__text--proteccion .details--body-1,
  .servicios__text--tramites .details--body-1,
  .servicios__text--licitaciones .details--body-1,
  .servicios__text--obra-civil .details--body-1,
  .servicios__text--acabados .details--body-1,
  .servicios__text--diseno .details--body-1,
  .servicios__text--remodelaciones .details--body-1{
    width: 70%;
    height: 100%;
    gap: 1rem;
    padding-left: 6rem;
  }

  .servicios__text--obra-civil .text--body-1 p:nth-child(3),
  .servicios__text--acabados .text--body-1 p:nth-child(3),
  .servicios__text--diseno .text--body-1 p:nth-child(3),
  .servicios__text--remodelaciones .text--body-1 p:nth-child(3){
    display: block;
  }

  .servicios__text--proteccion .text--body-2 .image-container,
  .servicios__text--tramites .text--body-2 .image-container,
  .servicios__text--licitaciones .text--body-2 .image-container{
    display: none;
  }

  .servicios__text--venta .details--body-1,
  .servicios__text--arriendo .details--body-1{
    width: 70%;
    height: 100%;
    gap: 1rem;
    position: absolute;
    right: 0;
    padding: 3rem 6rem;
  }

  .servicios__text--venta .servicios__text--heading-desktop,
  .servicios__text--arriendo .servicios__text--heading-desktop{
    align-self: flex-start;
  }

  .servicios__text--venta .text--body-1 p,
  .servicios__text--arriendo .text--body-1 p{
    padding: 0;
  }

  .propiedades__slider .propiedades__card:nth-child(n+4){
    display: flex;
  }

  .propiedades__slider {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
  }
}
