.servicios {
  background-color: var(--lb_white-background);
  padding: 16rem 0 1rem 0;
}

.servicios-sub-header{
  display: none;
}

.servicios-header{
  font-size: 2.6rem;
  text-align: center;
  font-weight: 400;
  color: var(--lb_grey-default);
  padding-bottom: 1rem;
}

.servicios--slider{
  padding: 1rem 0;
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.servicios--slides {
  position: relative;
  height: 115rem;
}

.servicios--slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease-in-out;
}

.servicios--slide.slide-1{
  transform: translate(-100%, 0%);
}

.servicios--slide.slide-2{
  transform: translate(0%, -100%);
}

.servicios--slide.slide-3{
  transform: translate(100%, -200%);
}

.servicios-pagi{
  display: flex;
  margin: 1rem 2rem;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.servicios-pagi__elem{
  margin: 0 0.5rem;
}

.servicios--icon{
  fill: var(--lb_grey-default);
  transition: all 0.3s ease-in-out;
}

.servicios--icon:hover,
.servicios--icon.active{
  transform: scale(1.1);
  filter: drop-shadow(3px 3px 2px rgba(242, 183, 5, 0.6));
}

.servicios__title{
  text-align: center;
  padding: 0.6rem 0;
  font-size: 1.8rem;
  color: var(--lb_grey-warm);
}

/* Styles Inner Menu for Services */
.servicios__content--menu{
  overflow-x: auto;
  white-space: nowrap;
  background-color: var(--lb_grey-lightest);
}

.servicios__content--menu ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
  font-size: 1rem;
  height: 3.375rem;
  width: 150%;
}

.servicios__content--menu li {
  padding: 0.6rem;
}

.servicios__content--menu a {
  display: block;
  position: relative;
  padding: 0.2em 0;
  color: var(--lb_grey-dark);
}

.servicios__content--menu a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--lb_black-default);
  opacity: 0;
  transition: opacity 400ms, transform 400ms;
}

.servicios__content--menu a:hover::after,
.servicios__content--menu a:focus::after {
  opacity: 1;
}

.servicios__content--menu li a::after {
  transform: scale(0);
  transform-origin: center;
}

.servicios__content--menu li a:hover::after,
.servicios__content--menu li a:focus::after{
  transform: scale(1);
}

.servicios__content--menu li:first-child a.active{
  font-weight: 500;
  color: var(--lb_black-default);
}

.servicios__content--menu li:first-child a.active::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--lb_black-default);
  transform: scale(1);
  opacity: 1;
} 

.servicios__content--menu a:hover {
  font-weight: 500;
  color: var(--lb_black-default);
}
/* End Styles Inner Menu for Services */


/* Styles inner content for Services (servicios__text) */
.servicio-wrapper{
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.7s ease-in-out;
  width: 100%;
}

.servicio-wrapper.active{
  opacity: 1;
  visibility: visible;
}

.servicio-wrapper--heading-mobile,
.servicio-wrapper--heading-desktop{
  text-align: center;
  font-size: 2.2rem;
  padding: 1rem 0;
  color: var(--lb_grey-light);
}

.servicio-wrapper--heading-desktop{
  display: none;
}

.servicio-wrapper{
  /* position: relative; */
  overflow: hidden;
}

.servicio-image__container{
  position: absolute;
  max-width: 17rem;
  max-height: 17rem;
  top: 4rem;
  right: 0;
  background: linear-gradient(to right, rgba(248, 248, 248, 1) 25%, rgba(255, 255, 255, 0) 150%);
}

.servicio-image{
  width: 17rem;
  height: 17rem;
  object-fit: cover;
  border-top-left-radius: 100%;
  position: relative;
  z-index: -5;
}

.servicio-content__container{
  z-index: 5;
  position: relative;
}

.servicio-text__body-1{
  height: 17rem;
  padding: 2rem 5rem 2rem 1.5rem;
  font-size: 1.1rem;
  line-height: 1.4rem;
}

.servicios__content .slide__text-link{
  padding: 10px 32px;
}

.servicio-text__body-1 p{
  margin-bottom: 1rem;
}

.servicio-text__body-2{
  padding: 2rem 1.5rem;
  text-align: center;
}

.servicio-text__body-2 h3{
  font-size: 1.8rem;
  font-weight: 500;
  font-style: italic;
  margin-bottom: 1rem;
}

.servicio-text__body-2 p{
  margin-bottom: 2rem;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.propiedades > .button-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.5rem;
}

.propiedades .slide__text-link{
  width: auto;
  padding: 0.4em 1rem;
  color: var(--lb_grey-default);
  background-color: white;
  border-color: var(--lb_grey-dark);
  font-size: 0.9rem;
}
/* .propiedades > .button-container .slide__text-link,
.propiedades > .button-container .slide__text-link{
  padding: 0.6rem 4rem;
  font-size: 1rem;
}

.propiedades__slider .propiedades__card:nth-child(n+4){
  display: none;
}   */

.propiedades__slider {
  display: grid;
  gap: 1rem;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding: 1rem 0;
}

.post-types__container{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.proyectos__list--container-slide-2,
.proyectos__list--container-slide-3{
  background-color: var(--lb_grey-lightest);
  padding: 2.5rem 1rem;
}

.proyectos__list--container-slide-2 h2,
.proyectos__list--container-slide-3 h2{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--lb_black-default);
  margin-bottom: 1.5rem;
}

.proyectos__list--container-slide-3 p{
  margin-bottom: 0.3rem;
  text-align: center;
}

.proyectos--realizados__slider{
  display:flex;
  justify-content: flex-start;
  overflow: auto;
  gap: 0.7rem;  
}

.proyectos--realizados__card{
  width: 276px;
  height: 395px;
  background-color: var(--lb_white-background);
  padding: 0;
}

.proyectos--realizados h3{
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: var(--lb_grey-default);
  font-weight: 600;
}

.proyectos--realizados__card img{
  width: 276px;
  height: 308px;
  object-fit: cover;
  /* filter: grayscale(80%); */
}

.proyectos--realizados__card h4{
  font-size: 1.5rem;
  text-align: justify;
  font-weight: 600;
  color: var(--lb_grey-default);
  margin: 0.2rem 1rem;
}

.proyectos--realizados__card p{
  margin: 0.4rem 1rem;
  font-size: 1rem;
  text-align: justify;
  font-weight: 400;
  color: var(--lb_grey-default);
  padding: 0;
}

.propiedades__card{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--lb_white-background);
}

.propiedades__card img{
  width: 135px;
  height: 148px;
  object-fit: cover;
}

.propiedades__card--details{
  width: 100%;
  padding: 0 0.7rem;
}

.propiedades__card--details h4{
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: var(--lb_grey-default);
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.propiedades__card--details p{
  font-size: 1rem;
  line-height: 1.3rem;
  color: var(--lb_grey-default);
  font-weight: 400;
  text-align: justify;
  padding: 0;
}

.image--body-2{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30rem;
  border-top-left-radius: 30rem;
  border-bottom-left-radius: 30rem;
}

/* End Styles inner content for Services (servicios__text) */

/* Media queries for desktop */
@media(min-width: 768px){
  .servicios{
    padding-top: 7rem;
    padding-bottom: 6rem;
  }

  .servicios-sub-header{
    display: block;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--lb_grey_light);
    padding-left: 9rem;
  }

  .servicios-header{
    font-size: 4rem;
    text-align: left;
    padding-left: 9rem;
  }

  .servicios-pagi{
    margin-left: 0;
    padding-left: 9rem;
    width: 30rem;
  }

  .servicios__title{
    font-size: 4rem;
    text-align: left;
    padding-left: 9rem;
    font-weight: 700;
  }

  .servicios__content--menu ul{
    width: 100%;
    justify-content: center;
  }

  .servicios__content--menu li{
    padding: 0.6rem 1.5rem;
  }

  .servicios--slides {
    height: 95rem;
  }  

  .servicio-wrapper--heading-mobile{
    display: none;
  }

  .servicio-wrapper--heading-desktop{
    display: block;
    padding: 0;
    text-align: left;
    font-size: 2.5rem;
  }

  .servicio-image__container{
    top: 0;
    max-width: 43rem;
    max-height: 43rem;
  }
  
  .servicio-image{
    width: 43rem;
    height: 43rem;
    object-fit: cover;
    border-bottom-left-radius: 100%;
    border-top-left-radius: 0%;
  }

  .servicio-content__container{
    padding: 3rem 9rem;
  }

  .propiedades__slider .propiedades__card:nth-child(n+4){
    display: flex;
  }

  .propiedades__slider {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      padding: 1rem 1rem;
  }

  .servicio-text__body-1{
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding-left: 0;
    width: 60%;
    height: auto;
  }

  .servicio-text__body-1 a{
    display: none;
  }

  .servicio-text__body-2 h3 {
    font-size: 2rem;
  }

  .servicio-text__body-2{
    width: 50%;
    margin-left: 6rem;
  }

  .proyectos--realizados h3{
    margin-left: 3rem;
  }
  
}
