.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;
}

@media (max-width: 768px) {
  .slider-pagi {
    top: 6rem;
    z-index: 2;
  }
}

.slider-pagi__elem {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}

.slider-pagi__elem:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.4rem;
  height: 0.4rem;
  background: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
  transform: translate(-50%, -50%) scale(0);
}

.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
  transform: translate(-50%, -50%) scale(1);
}

.slide__bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  will-change: transform;
  filter: grayscale(80%);
}

.slide__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .slide:nth-child(1) .slide__image {
    --crop-focus-x: 0.7;
    --crop-focus-y: 0.6;
    --container-width: 100cqw;
    --container-height: 100cqh;
    --image-width: calc(var(--container-width) - 100%);
    --image-height: calc(var(--container-height) - 100%);
    object-position:
        clamp(100%, 0.5 * var(--container-width) - var(--crop-focus-x) * var(--image-width), 0%)
        clamp(100%, 0.5 * var(--container-height) - var(--crop-focus-y) * var(--image-height), 0%);
  }

  .slide:nth-child(2) .slide__image {
    --crop-focus-x: 0.35;
    --crop-focus-y: 0.6;
    --container-width: 120cqw;
    --container-height: 100cqh;
    --image-width: calc(var(--container-width) - 100%);
    --image-height: calc(var(--container-height) - 100%);
    object-position:
        clamp(100%, 0.5 * var(--container-width) - var(--crop-focus-x) * var(--image-width), 0%)
        clamp(100%, 0.5 * var(--container-height) - var(--crop-focus-y) * var(--image-height), 0%);
  }

  .slide:nth-child(3) .slide__image {
    --crop-focus-x: 0.25;
    --crop-focus-y: 0.4;
    --container-width: 100cqw;
    --container-height: 100cqh;
    --image-width: calc(var(--container-width) - 100%);
    --image-height: calc(var(--container-height) - 100%);
    object-position:
        clamp(100%, 0.5 * var(--container-width) - var(--crop-focus-x) * var(--image-width), 0%)
        clamp(100%, 0.5 * var(--container-height) - var(--crop-focus-y) * var(--image-height), 0%);
  }
}

.slide__content {
  position: absolute;
  top: 260px;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .slide__content {
    top: 340px;
  }
}

.slide__text {
  position: absolute;
  width: 45%;
  bottom: 40%;
  left: 10%;
  color: #fff;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  will-change: transform, opacity;
  transform: translateY(-50%);
  opacity: 0;
  transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
  background-color: rgba(48, 48, 48, 0.4);
  padding: 1rem;
}

@media (max-width: 768px) {
  .slide__text {
    left: 0;
    width: 100%;
    bottom: 55%;
  }
}

.slide__text-heading {
  font-size: 3.2rem;
  margin-bottom: 1rem;
  width: 50%;
}

@media (max-width: 768px) {
  .slide__text-heading {
    width: 100%;
    font-size: 2.3rem;
  }
}

.slide__text-desc {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  font-style: italic;
  width: 50%;
}

@media (max-width: 768px) {
  .slide__text-desc {
    width: 100%;
    font-size: 1.4rem;
  }
}

.slide__text-content {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  width: 80%;
  font-weight: 300;
}

@media (max-width: 768px) {
  .slide__text-content {
    display: none;
  }
}

.slide__text-link {
  z-index: 5;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 1.2rem;
  width: 168px;
  border: 1px solid var(--lb_yellow-default);
  padding: 16px 32px;
  border-radius: 100px;
  font-style: italic;
  color: var(--lb_yellow-default);
  gap: 4px;
  background-color: var(--lb_black-default);
}

.slider{
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider .slide{
  width: 100%;
  height: 100vh;
  display: none;
}

.slide.displaySlide{
  display: block;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slide.displaySlide .slide__text {
  opacity: 1;
  transform: translateX(0);
}

@keyframes fade {
  from{
    opacity: 0.5;
  }
  to{
    opacity: 1;
  }
}